body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(39, 40, 45);
}

#header {
    display: flex;
    background: rgb(68, 85, 141);
    color: white;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 16px 16px 0 0;
}

#header #titles {
    align-self: center;
    margin-left: 12px;
}

#header #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;

    box-shadow: 2px 2px 20px 1px rgba(123,123,123,0.31);
    -webkit-box-shadow: 2px 2px 20px 1px rgba(123,123,123,0.31);
    -moz-box-shadow: 2px 2px 20px 1px rgba(123,123,123,0.31);
}

#container h1 {
    font-size: 20px;
}

#post {
    padding: 1em;
}

#footer {
    background-color: rgb(117, 119, 116);
    color: white;
    text-align: center;
    padding: 0.5em;
    border-radius: 0 0 16px 16px;
}